---
---

body {
  background: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  line-height: 1.5;
}

h1 a {
  color: #000!important;
  text-decoration: none;
  font-weight: 300;
  margin: 15px;
}

h1 a:hover {
  text-decoration: underline;
}

blockquote p {
  display: inline;
  color: gray;
}

blockquote:before {
  content: "“…";
  color: gray;
}

blockquote:after {
  content: "…”";
  color: gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 1em;
}

blockquote {
  border-left: 5px solid lightgray;
  margin-left: 0;
  padding-left: 1em;
}

small {
  display: block;
  opacity: 0;
  transition: all .5s;
}

small a {
  display: inline-block;
  border: 1px solid lightgray;
  color: lightgray;
  padding: 5px 10px;
  margin-top: 5px;
  transition: all .5s;
}

small a:hover {
  background: lightgray;
  color: #000;
}

li:hover small {
  opacity: 1;
}

main {
  display: flex;
}

section {
  margin: 15px;
  min-width: 40%;
}

a {
  text-decoration: none;
  color: lightgray;
}

li:hover a strong {
  text-decoration: underline;
  font-weight: bold;
}

a:link strong {
  color: blue;
}

a:visited strong {
  color: blue;
}

time {
  font-size: 1em;
  color: lightgray;
}
